// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed {
  width: 600px;
  margin-left: 18%;
}

.post {
  display: flex;
  width: 540px;
  height: auto;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px;
  flex-direction: column;
}

.post-bar {
  background-color: white;
  height: 45px;
  padding: 0px 22px;
  font-size: 13px;
}

.post-nav {
  color: #969696;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.post-content {
  margin: 0px 22px;
  font-size: 14px;
}

.author {
  font-weight: bold;
}

.title {
  justify-content: center;
  font-size: 34px;
  margin-bottom: 15px;
}



.generator-container {
  margin: 20px;
}

.generator-button {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  border: 0px;
  height: 100px;
  width: 90px;
}

.generator-icon {
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
}



// all forms

.post-form-container {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.post-form {
  border-radius: 3px;
  overflow: hidden;
}

.tags-input {
  display: block;
  width: 530px;
  border: 0px;
  padding: 10px 15px;
  font-size: 13px;
}

.post-submit-bar {
  display: flex;
  width: 530px;
  padding: 10px 15px;
  background-color: white;
  justify-content: space-between;
}

.post-form-button {
  display: block;
  width: 60px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
}



// text form

// shared with video's title field
.title-input {
  display: block;
  width: 530px;
  border: 0px;
  padding: 10px 15px;
  font-size: 34px;
}

.body-input {
  display: block;
  width: 530px;
  height: 100px;
  border: 0px;
  padding: 10px 15px;
  font-size: 14px;
}


// photo form

// shared with link's caption field
.caption-input {
  display: block;
  width: 530px;
  height: 50px;
  border: 0px;
  padding: 10px 15px;
  font-size: 14px;
}

// TODO: add photo uploader styling



// quote form

.quote-input {
  display: block;
  width: 530px;
  height: 60px;
  border: 0px;
  padding: 10px 15px;
  font-size: 40px;
}

.quote-source-input {
  display: block;
  width: 530px;
  border: 0px;
  padding: 10px 15px;
  font-size: 14px;
}


// link form

.link-input {
  display: block;
  width: 530px;
  border: 0px;
  padding: 10px 15px;
  font-size: 28px;
}


// audio form

.audio-text-input {
  display: block;
  width: 530px;
  height: 50px;
  border: 0px;
  padding: 10px 15px;
  font-size: 18px;
}

// TODO: add audio uploader styling



// video form
