// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed {
  width: 600px;
  margin-left: 19%;
  margin-top: 25px;
  position: relative;
  top: 55px;
}

.post {
  display: flex;
  width: 540px;
  height: auto;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px;
  flex-direction: column;
}

.post-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: -60px;
  width: 640px;
}

.user-photo-container {
  position: relative;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 10px;
  // background-position: center center;
}

.user-photo {
  width: 60px;
  height: auto;
}

.user-photo-container:hover {
  position: relative;
  left: -3px;
  cursor: pointer;
}

.post-bar {
  background-color: white;
  height: 45px;
  padding: 0px 22px;
  font-size: 13px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.follow-button:hover {
  cursor: pointer;
}

.post-nav {
  color: #969696;
  position: relative;
}

.post-nav-icon-small {
  width: 27px;
  height: 27px;
  margin-left: 15px;
  position: relative;
  top: -5px;
}

.post-nav-icon-medium {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  position: relative;
  top: -5px;
}

.post-nav-icon-large {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  position: relative;
  top: -7px;
}

.post-nav-icon-small:hover {
  cursor: pointer;
}

.post-nav-icon-medium:hover {
  cursor: pointer;
}

.post-nav-icon-large:hover {
  cursor: pointer;
}

.post-content {
  margin: 0px 22px;
  margin-bottom: -20px;
  font-size: 14px;
}

.author {
  font-weight: bold;
}

.author:hover {
  cursor: pointer;
}

.title {
  justify-content: center;
  font-size: 34px;
  margin-bottom: 15px;
}

.tags {
  width: 540px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  position: relative;
  left: -40px;
  padding-bottom: 5px;

  list-style-type: none;
  overflow: hidden;
}

.tag {
  font-size: 12px;
  color: gray;
  margin-right: 10px;
  opacity: .7;
}




.generator-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: -60px;
  width: 650px;
}

.generator {
  margin: 10px;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  width: 540px;
}

.generator-button {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  border: 0;
  height: 100px;
  width: 90px;
  font-size: 12px;
  color: gray;
}

.generator-icon {
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
}

.generator-button:hover .generator-icon{
  transform: translate(0px, -4px);
}



// all forms

.post-form-container {
  display: flex;
  align-content: space-between;
  justify-content: center;
  width: 540px;
  position: relative;
  left: 20px;
  top: 10px;
  margin-bottom: 20px;
}

.post-form {
  border-radius: 3px;
  overflow: hidden;
}

.url-input {
  display: block;
  width: 510px;
  border: 0;
  padding: 10px 15px;
  font-size: 24px;
}

.tags-input {
  display: block;
  width: 510px;
  border: 0;
  padding: 10px 15px;
  font-size: 13px;
}

.post-submit-bar {
  display: flex;
  width: 510px;
  padding: 10px 15px;
  background-color: white;
  justify-content: space-between;
}

.post-form-button {
  display: block;
  width: 60px;
  height: 30px;
  border: 1px solid gray;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
}



// text form

// shared with video's title field
.title-input {
  display: block;
  width: 510px;
  border: 0;
  padding: 10px 15px;
  font-size: 34px;
}

.body-input {
  display: block;
  width: 510px;
  height: 100px;
  border: 0;
  padding: 10px 15px;
  font-size: 14px;
}

textarea {
  resize: none;
}


// photo form

// shared with link's caption field
.caption-input {
  display: block;
  width: 510px;
  height: 50px;
  border: 0;
  padding: 10px 15px;
  font-size: 14px;
}

// TODO: add photo uploader styling



// quote form

.quote-input {
  display: block;
  width: 510px;
  height: 60px;
  border: 0;
  padding: 10px 15px;
  font-size: 40px;
}

.quote-source-input {
  display: block;
  width: 510px;
  border: 0;
  padding: 10px 15px;
  font-size: 14px;
}


// link form

.link-input {
  display: block;
  width: 510px;
  border: 0;
  padding: 10px 15px;
  font-size: 28px;
}


// audio form

.audio-text-input {
  display: block;
  width: 510px;
  height: 50px;
  border: 0;
  padding: 10px 15px;
  font-size: 18px;
}

// TODO: add audio uploader styling



// video form




// general content display

.body {
  margin-top: 15px;
  margin-bottom: 5px;
}

// photo display

.photo {
  width: 540px;
  height: auto;
  position: relative;
  left: -22px;
}

// quote display

.quote-source {
  font-size: 22px;
}

//link display

.url {
  font-size: 28px;
  color: black;
  font-weight: bold;
}

// audio display

.audio-display {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
}

// video display

.video {
  position: relative;
  left: -24px;
}
