// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed {
  width: 600px;
  margin: auto;
}

.post {
  display: flex;
  width: 540px;
  height: auto;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px;
  flex-direction: column;
}

.post-bar {
  background-color: white;
  height: 45px;
  padding: 0px 22px;
  font-size: 13px;
}

.post-nav {
  color: #969696;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.post-content {
  margin: 0px 22px;
  font-size: 14px;
}

.author {
  font-weight: bold;
}

.title {
  justify-content: center;
  font-size: 34px;
  margin-bottom: 15px;
}
