// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing-container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  min-width: 800px;
  z-index: 10;
}

.landing-button {
  display: block;
  width: 300px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  font-size: 15px;
  margin: 2px;
}

.landing {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing > p {
  margin-top: 30px;
  color: white;
  text-shadow: 1.5px 1.5px black;
}





.auth-input {
  display: block;
  width: 300px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 15px;
  margin: 2px;
}

.auth-input.submit {
  margin: 10px 2px 2px 2px;
  width: 304px;
  background-color: white;
}

.guest-login {
  margin: 2px;
  width: 304px;
  background-color: white;
}

.errors {
  color: tomato;
  margin: 10px;
  text-align: center;
}
