// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root {
  font-family: 'Cabin', sans-serif;
}

.auth-form {
  width: 250px;
}

.auth-input {
  display: block;
  width: 250px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 7px;
}

.auth-input.submit {
  margin: 10px 0px 0px 0px;
}
